*, ::after, ::before {
  box-sizing: border-box;
}

html {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
}

body {
  margin: 0;
}

b, strong {
  font-weight: bolder;
}

code, kbd, pre, samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: currentcolor;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

[type=button], [type=reset], [type=submit], button {
  appearance: button;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}


html {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.main-title, .price-details__country, .card__country, .card__days, .filters__title, .title-results, .slider-info__title {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.price-details__content, .card, .filter__tooltip-content {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.filters {
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.15);
}

html {
  box-sizing: border-box;
  line-height: 1.6;
  font-weight: 500;
}

body {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

summary::-webkit-details-marker {
  display: none;
}

.header {
  max-width: 1440px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.header__logo {
  height: 1.5rem;
  display: block;
}
@media screen and (min-width: 46.5rem) {
  .header {
    padding: 1.5rem;
  }
  .header__logo {
    height: auto;
  }
}
@media screen and (min-width: 64rem) {
  .header {
    padding: 0 2rem;
  }
}
.header__hamburger-menu {
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header__hamburger-menu--open {
  pointer-events: none;
}
@media screen and (min-width: 64rem) {
  .header__hamburger-menu {
    display: none;
  }
}

.skip-link {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #2D242D;
  color: #ddd;
  translate: 0 -100%;
  transition: translate 0.2s ease-in-out;
  padding: 1rem;
  text-decoration: none;
}

.skip-link:focus {
  top: 0;
  translate: 0;
}

.navbar {
  position: fixed;
  height: 100vh;
  width: 85vw;
  top: 0;
  left: -85vw;
  z-index: 30;
  background-color: #FFFFFF;
  transition: left 0.3s ease;
}
.navbar__menu-close {
  display: none;
  position: absolute;
  right: -3.5rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: white;
  padding: 0.5rem;
  border: solid;
  cursor: pointer;
}
@media screen and (min-width: 64rem) {
  .navbar__menu-close {
    display: none;
  }
}
.navbar__items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
@media screen and (min-width: 64rem) {
  .navbar__items {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
}
@media screen and (min-width: 90rem) {
  .navbar__items {
    gap: 4.5rem;
  }
}
.navbar__item {
  width: 100%;
}
@media screen and (min-width: 64rem) {
  .navbar__item {
    width: auto;
  }
}
.navbar__link {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1.75rem;
  width: 100%;
  color: #342E34;
  border-bottom: solid 1px #ccc;
}
@media screen and (min-width: 64rem) {
  .navbar__link {
    width: auto;
    padding: 1.75rem 0.75rem;
    border-bottom: none;
  }
  .navbar__link:hover {
    color: rgb(170, 99, 99);
  }
}
.navbar__link--active {
  border-bottom: solid 2px #FF8F50;
}
@media screen and (min-width: 64rem) {
  .navbar__link--active::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 0 8px 10px 8px;
    border-color: transparent transparent #FF8F50 transparent;
  }
}
.navbar__link-icon {
  margin-right: 0.375rem;
}
.navbar__booking-btn {
  display: none;
}
@media screen and (min-width: 64rem) {
  .navbar__booking-btn {
    display: initial;
  }
}
.navbar--open {
  left: 0;
  box-shadow: 0 0 0 100vw rgba(24, 26, 23, 0.5);
}
.navbar--open .navbar__menu-close {
  display: block;
}
@media screen and (min-width: 64rem) {
  .navbar {
    position: initial;
    width: auto;
    height: auto;
    box-shadow: none;
  }
}

.slider-home {
  border-top: solid 1px #FF8F50;
}

.slider {
  height: 25rem;
  max-height: 25rem;
  overflow: hidden;
}

.slider-info__content {
  position: absolute;
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  padding-inline: 3.75rem;
}
@media screen and (min-width: 22.5rem) {
  .slider-info__content {
    padding-inline: 5rem;
  }
}
.slider-info__image {
  display: block;
  width: 100%;
  height: 25rem;
  object-fit: cover;
  object-position: top;
  aspect-ratio: 18/5;
}
.slider-info__title {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.2;
}
@media screen and (min-width: 46.5rem) {
  .slider-info__title {
    font-size: 2.125rem;
  }
}
@media screen and (min-width: 90rem) {
  .slider-info__title {
    font-size: 1.875rem;
  }
}
.slider-info__subtitle {
  display: block;
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}
@media screen and (min-width: 64rem) {
  .slider-info__subtitle {
    font-size: 1.875rem;
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 90rem) {
  .slider-info__subtitle {
    font-size: 1.25rem;
  }
}

.slider:not(.slick-initialized) .slider-info:not(:first-child) {
  display: none;
}

.footer {
  text-align: left;
}
.footer__logo-container {
  background-color: #FBF6F4;
  padding: 3rem 2rem;
  border-top: solid 1px hsla(302, 35%, 28%, 0.16);
}
.footer__logo {
  vertical-align: middle;
}
.footer__copyright {
  text-align: center;
  background-color: #E0D9E0;
  color: #622F60;
  font-size: 0.875rem;
  padding: 1rem 0;
  margin: 0;
}
@media screen and (min-width: 64rem) {
  .footer__logo-container {
    padding: 3rem 2.5rem;
  }
}
@media screen and (min-width: 90rem) {
  .footer {
    text-align: center;
    position: initial;
  }
  .footer__logo-container {
    padding: 3rem 0;
  }
}

@media screen and (min-width: 90rem) {
  .cards-container {
    flex-grow: 1;
  }
}

.title-results {
  font-weight: 600;
  color: #342E34;
  margin-block: 0 1rem;
  font-weight: 600;
}

.cards {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem 1.5rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 46.5rem) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 64rem) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.filters {
  position: fixed;
  overflow: auto;
  padding-top: 0.75rem;
  height: 100%;
  top: 0;
  left: -100vw;
  width: 100vw;
  background-color: #FBF6F4;
  transition: left 0.5s ease;
  z-index: 20;
}
.filters__wrap-title {
  display: flex;
  align-items: center;
  border-bottom: solid 1px #E0D9E0;
  padding: 1.75rem 1.5rem;
  justify-content: space-between;
}
.filters__title {
  font-size: 1.125rem;
  color: #342E34;
  font-weight: 700;
  margin: 0;
}
.filters__close-options {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.filters__close-options-icon {
  pointer-events: none;
}
.filters__content {
  padding: 0.75rem 1.5rem 2rem;
}
.filters--open {
  left: 0;
}
@media screen and (min-width: 46.5rem) {
  .filters {
    position: absolute;
    width: 18.5rem;
  }
}
@media screen and (min-width: 90rem) {
  .filters {
    margin-top: 3.4rem;
    padding-top: 0;
    position: initial;
    width: 16.5rem;
    height: auto;
    box-shadow: none;
    border-radius: 1.5rem;
    flex-shrink: 0;
  }
  .filters__close-options {
    display: none;
  }
}

.view-filters-btn {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #FAF7F5;
  border: solid 1px rgba(98, 47, 96, 0.1607843137);
  border-radius: 10rem;
  margin-bottom: 1.5rem;
  margin-inline: auto;
  cursor: pointer;
}
.view-filters-btn__icon {
  margin-right: 0.5rem;
  pointer-events: none;
}
@media screen and (min-width: 64rem) {
  .view-filters-btn {
    margin-inline: initial;
  }
}
@media screen and (min-width: 90rem) {
  .view-filters-btn {
    display: none;
  }
}

.filter__header {
  display: grid;
  font-weight: 600;
  grid-template-columns: auto auto 1fr;
  padding: 0.75rem 0;
  color: #342E34;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.filter__icon {
  margin-right: 0.5rem;
}
.filter__arrow {
  justify-self: end;
}
.filter__list {
  margin: 0;
  padding: 0 1rem;
  font-size: 0.875rem;
}
.filter__item {
  list-style-type: none;
  padding: 0.75rem 0;
}
.filter__label {
  margin-left: 0.25rem;
}
.filter__link-view-more, .filter__link-view-less {
  color: #622F60;
  margin-bottom: 0.25rem;
  display: block;
  cursor: pointer;
  text-decoration: underline;
  padding: 1rem;
}
.filter__link-view-less {
  background-color: transparent;
  border: none;
}
.filter__input-price {
  width: 100%;
  height: 3rem;
  border: solid 1px #622F60;
  border-radius: 10rem;
  padding: 1rem 1rem 1rem 3rem;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAIpSURBVHgB7Zg7TsNAEIbH0FCm5RJJSjrgBIgT4MABEk5AcoLkBChHgJIq0FFanCBlypyAZf4EJGSJsM7OjG1lPmn9KNbx/2W9LyLHcRzHcRzHcRzHOTgySuC2m0/5CSMSIBAVIaPBvJgXZMgRpSAUfvso6h8FWuT9vE+GpLWAXh5w5sNrFuiNUshoyMcOl/VnRpdWLUFEABuYPH7Mx5QA/nm0ADKWkPYJCIKwCM2Xay4dq8+hMQJAHRIaJQBYS1AVwMPkw6CXL+66+bBKPUsJagI4/Ii72DH3shc8vs/4flylvpUENQEc+qp0f04VsZCgJqA8L2ABz7QH2hLUBGzmBRndY5LE5wkHmdGeaEpozEQoBo3JUuOGwV1otIRWCQDSElonAEhKaKUAICWhtQKAhIRWCwCpEpIEbMZ4wJsZ1js5v0mRkCaAJzpE+guWGMoSeCY6jamXJKCuTYxd7xPCdsqNPcaYOsl9QJMkYPmdZXTzffsUU0ekE2yCBITH8hvX3Dct+X0mMfWS1gJl6trYLIcP299dxtQVFQCsJaSEB+ICgJWE1PBARQDQliARHqgJAFoSpMIDVQFAWoJkeKAuAEhJkA4PTASAVAka4YGZALCvBK3wwFQAqCpBMzwwFwBiJWiHB7UIAP9JsAgPahMA/pJgFR7UKgCUJWA9/7Ok1Q4PahcAShI2WIQHx9QAilWx6p32X/jyjMsJl3cOf60d3nEcx3Ec56D5AqJ65xuDLcrXAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: 0.5rem center;
  background-size: 2rem 2rem;
}
.filter__input-price:first-of-type {
  margin-bottom: 1rem;
}
.filter__group[open] .filter__header {
  color: #B85C28;
}
.filter__group[open] .filter__icon path {
  stroke: #B85C28;
}
.filter__group[open] .filter__arrow {
  transform: rotate(90deg);
}
.filter__group[open] .filter__arrow path {
  fill: #B85C28;
}

.filter__view-more[open] .filter__link-view-more {
  display: none;
}

.filter__tooltip {
  position: relative;
  cursor: pointer;
  vertical-align: middle;
}
.filter__tooltip:hover .filter__tooltip-content, .filter__tooltip:focus-visible .filter__tooltip-content {
  display: block;
}
.filter__tooltip:hover .filter__tooltip-content::before, .filter__tooltip:focus-visible .filter__tooltip-content::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #FFFFFF transparent transparent transparent;
}
.filter__tooltip-content {
  position: absolute;
  display: none;
  background-color: #FFFFFF;
  width: 10rem;
  text-align: center;
  border-radius: 0.25rem;
  padding: 0.375rem 0.625rem;
  bottom: 150%;
  left: 50%;
  margin-left: -5rem;
}

.btn {
  cursor: pointer;
  padding: 0.75rem 2.5rem;
  border-radius: 10rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  line-height: 1.5;
  transition: background-color 0.2s ease-in;
}
.btn[disabled] {
  cursor: not-allowed;
  opacity: 0.9;
  filter: grayscale(90%);
}

.btn--primary {
  background-color: #622F60;
  color: #FFFFFF;
}
.btn--primary:hover {
  background-color: #471F45;
}

.btn--secondary {
  background-color: #FFFFFF;
  color: #622F60;
  border: solid 1px #622F60;
  padding: 0.5rem 1.25rem;
}

.btn--accent {
  background-color: #FF8F50;
  color: #4E250E;
}
.btn--accent:hover {
  background-color: #D67843;
}

input[type=checkbox] {
  appearance: none;
  position: relative;
  top: 0.125rem;
  background-clip: padding-box;
  background-color: #FFFFFF;
  border: 1px solid #622F60;
  border-radius: 0.125rem;
  width: 1.125rem;
  height: 1.125rem;
  cursor: pointer;
}

input[type=checkbox]:checked {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADEAAAAwCAQAAAASyVoyAAAAlklEQVR42u3WwQ3CMBBEUUpwCS4hJaQUOiAdQAfQCSWlBJfwOSA0Qhx8MBMl0vy79STvHvaUUko7icJMdQIX3i0u4MqnRnEBanIDqxtoTAEOBHDmyYPqAvR0pZq+iAZC/g6IEGIYMgt8I4Yt4vaL9IFxpA+MI31gHLl3gHHEAAgxAUKMgBAjIMQICBFgi8pMyTGaUtq0F5tKDl9jQpNnAAAAAElFTkSuQmCC);
  background-color: #FF8F50;
  background-position: center center;
  background-size: 100% 100%;
}

.card {
  position: relative;
  color: #342E34;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
}
.card__tag {
  background-color: #FF8F50;
  position: absolute;
  right: 1rem;
  top: 1rem;
  border-radius: 2.5rem;
  color: #342E34;
  padding: 0.5rem 0.75rem;
  font-size: 0.75rem;
  line-height: 1.25;
  font-weight: 800;
}
.card__image {
  border-radius: 1.5rem 1.5rem 0 0;
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 66/47;
}
.card__content {
  padding: 1rem 1rem;
}
.card__country {
  display: inline-block;
  font-size: 0.875rem;
  color: #622F60;
  margin-bottom: 0.5rem;
}
.card__days {
  font-variant: lining-nums;
  font-weight: 500;
  display: inline-block;
  margin-left: 0.375rem;
  color: #471F45;
}
.card__title {
  color: #342E34;
  margin: 0;
  line-height: 1.2;
}
.card__footer {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  align-items: center;
  margin-top: auto;
  background-color: #FBF6F4;
  border-radius: 0 0 1.5rem 1.5rem;
  padding: 0.75rem 1rem 1rem;
}
.card__price {
  display: flex;
  flex-direction: column;
}
.card__price-from {
  line-height: 1.4;
  color: #342E34;
  font-size: 0.75rem;
  color: #342E34;
}
.card__price-amount {
  font-weight: 700;
  font-size: 1.375rem;
  color: #342E34;
  line-height: 1.1;
  margin-bottom: 0.125rem;
}

.price-details {
  position: relative;
  z-index: 1;
}
.price-details summary {
  cursor: pointer;
}
.price-details__view-price {
  color: #622F60;
  font-size: 0.875rem;
  text-decoration: underline;
  display: block;
}
.price-details__view-price-icon {
  vertical-align: middle;
}
.price-details__content {
  position: fixed;
  inset: 0;
  color: #342E34;
  background-color: #FFFFFF;
  overflow: hidden;
}
.price-details__header {
  background-color: #FBF6F4;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px #E0D9E0;
}
.price-details__title {
  margin: 0;
  font-weight: 700;
  line-height: 1.25;
  font-size: 1.125rem;
}
.price-details__close {
  background-color: transparent;
  border: none;
  line-height: 1;
  cursor: pointer;
}
.price-details__close-icon {
  pointer-events: none;
}
.price-details__country {
  padding: 0 1.5rem;
  margin-block: 1.25rem;
  display: block;
  color: #622F60;
  font-size: 1.125rem;
  line-height: 1.25;
  font-weight: 700;
}
.price-details__days {
  font-weight: 500;
  color: #342E34;
}
.price-details__info {
  display: grid;
  gap: 0.75rem;
  line-height: 1.25;
  grid-template-columns: auto auto;
  padding: 0 1.5rem 1.5rem;
}
.price-details__text:nth-child(even), .price-details__final-amount {
  text-align: right;
  font-weight: 700;
  font-size: 1.125rem;
}
.price-details__footer {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  padding: 1.25rem 1.5rem;
  border-top: solid 1px #E0D9E0;
}
.price-details__final-amount, .price-details__final-price {
  font-weight: 700;
}
.price-details__final-amount {
  font-size: 1.375rem;
  line-height: 1.1;
}
.price-details[open] .price-details__view-price-icon {
  transform: rotate(-90deg);
}
.price-details[open] {
  z-index: 10;
}
@media screen and (min-width: 46.5rem) {
  .price-details__content {
    position: absolute;
    border-radius: 1.5rem;
    border: solid 1px #E0D9E0;
    inset: initial;
    min-width: 25rem;
    z-index: 1;
  }
  .price-details__header {
    padding: 1rem 1.5rem;
  }
  .price-details__footer {
    background-color: #FBF6F4;
  }
}

.price-details::details-content {
  opacity: 0;
  transition: opacity 300ms, content-visibility 300ms allow-discrete;
}

.price-details[open]::details-content {
  opacity: 1;
}

.u-max-width {
  margin-inline: auto;
  padding: 0 1rem;
}
@media screen and (min-width: 46.5rem) {
  .u-max-width {
    max-width: 34.5rem;
    padding: 0;
  }
}
@media screen and (min-width: 64rem) {
  .u-max-width {
    max-width: 52.5rem;
  }
}
@media screen and (min-width: 90rem) {
  .u-max-width {
    max-width: 70.5rem;
  }
}

.u-hide {
  display: none;
}

.u-no-scroll {
  overflow: hidden;
}
@media screen and (min-width: 46.5rem) {
  .u-no-scroll {
    overflow: auto;
  }
}

.u-no-scroll-open-menu {
  overflow: hidden;
}
@media screen and (min-width: 64rem) {
  .u-no-scroll-open-menu {
    overflow: auto;
  }
}

.u-filters-hide-item {
  display: none;
}

.main {
  margin: 0 auto;
  position: relative;
}

.main-title {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1.1;
  color: #2F222F;
  text-align: center;
  margin-block: 0 0.5rem;
  padding-inline: 1rem;
  padding-block: 3.5rem 0;
}
@media screen and (min-width: 46.5rem) {
  .main-title {
    font-size: 2rem;
  }
}
@media screen and (min-width: 90rem) {
  .main-title {
    margin-block: 0 0.5rem;
    font-size: 2.375rem;
    padding-top: 4.5rem;
  }
}

.main-sub-title {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.2;
  color: #6B7D8D;
  text-align: center;
  margin: 0;
  margin-bottom: 2.5rem;
  padding-inline: 1rem;
}
@media screen and (min-width: 46.5rem) {
  .main-sub-title {
    font-size: 1.375rem;
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 90rem) {
  .main-sub-title {
    margin-bottom: 4.5rem;
  }
}

.wrap-filter-and-results {
  padding-bottom: 4.5rem;
}
@media screen and (min-width: 90rem) {
  .wrap-filter-and-results {
    display: flex;
    gap: 1.5rem;
    align-items: flex-start;
  }
}

.slick-slider.slick-dotted {
  margin-bottom: 0;
}

.slick-prev,
.slick-next {
  background-color: #CABCCB;
  z-index: 1;
  width: 2.5rem;
  height: 2.5rem;
  background-repeat: no-repeat;
  background-position: center center;
}

.slick-prev {
  left: 0;
  background-image: url("../img/icons/icon-chevron-left.svg");
}

.slick-next {
  right: 0;
  background-image: url("../img/icons/icon-chevron-right.svg");
}

.slick-prev .slick-prev-icon:before,
.slick-next .slick-next-icon:before,
.slick-dots li.slick-active button .slick-dot-icon::before,
.slick-dots li button .slick-dot-icon:before {
  content: "";
}

.slick-dots li.slick-active button .slick-dot-icon,
.slick-dots li button .slick-dot-icon {
  display: block;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 0.625rem;
}

.slick-dots li button .slick-dot-icon {
  background-color: rgba(255, 255, 255, 0.72);
  border: solid 1px #FFFFFF;
  opacity: 1;
}

.slick-dots li.slick-active button .slick-dot-icon {
  background-color: #FF8F50;
  border: solid 1px #FFFFFF;
}

.slick-dots {
  bottom: 1rem;
}

.slick-next, .slick-prev {
  position: absolute;
  top: 50%;
}

.slick-autoplay-toggle-button {
  z-index: 1;
}
