@use "../abstracts" as *;


.main {
    margin: 0 auto;
    position: relative;   
}

.main-title {
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 1.1;
    color: #2F222F;
    text-align: center;
    margin-block: 0 $space-base * 2;
    padding-inline: 1rem;
    padding-block: 3.5rem 0;
    @extend %syne-font-family;

    @include tablet {
        font-size: 2rem;
    }

    @include desktop {
        margin-block: 0 $space-base * 2;
        font-size: 2.375rem;
        padding-top: 4.5rem;
    }
}

.main-sub-title {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.2;
    color: #6B7D8D;
    text-align: center;
    margin: 0;
    margin-bottom: 2.5rem;
    padding-inline: 1rem;

    @include tablet {
        font-size: 1.375rem;
        margin-bottom: 3rem;
    }

    @include desktop {
        margin-bottom: 4.5rem;
    }
}

.wrap-filter-and-results {
    padding-bottom: 4.5rem;

    @include desktop {
        display: flex;
        gap: $space-base * 6;
        align-items: flex-start;
    }

}