@use "../abstracts" as *;

.footer{
    text-align: left;

    &__logo-container{
        background-color: $footer-background-default;
        padding: $space-base * 12 $space-base * 8;
        border-top: solid 1px hsla(302, 35%, 28%, 0.16)
    }

    &__logo{
        vertical-align: middle;
    }
    &__copyright{
        text-align: center;
        background-color: $footer-background-bottom-bar-default;
        color: $footer-foreground-bottom-bar-default;
        font-size: $font-size-base-xs;
        padding: $space-base * 4 0;
        margin: 0;
    }
    @include tablet-large {
        &__logo-container{
            padding: $space-base * 12 $space-base * 10;
        }
    }

    @include desktop {
        text-align: center;
        position: initial;

        &__logo-container{
            padding: $space-base * 12 0;
        }        
    }
}