@use "../abstracts" as *;

.price-details {
    position: relative;
    z-index: z("default");

    & summary {
        cursor: pointer;
    }

    &__view-price {
        color: $card-breakdown-foreground-default;
        font-size: 0.875rem;
        text-decoration: underline;
        display: block;
    }

    &__view-price-icon {
        vertical-align: middle;
    }

    &__content {
        position: fixed;
        inset: 0;

        color: $overlay-text-default;
        @extend %box-shadow;
        background-color: $overlay-background-default;
        overflow: hidden;
    }

    &__header {
        background-color: $overlay-top-bar-default;
        padding: $space-base * 6;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid 1px $overlay-border-default;
    }

    &__title {
        margin: 0;
        font-weight: 700;
        line-height: 1.25;
        font-size: $font-size-base-medium;
    }

    &__close {
        background-color: transparent;
        border: none;
        line-height: 1;
        cursor: pointer;
    }

    &__close-icon {
        pointer-events: none;
    }

    &__country {
        padding: 0 $space-base * 6;
        margin-block: $space-base * 5;
        display: block;
        color: $overlay-title-default;
        font-size: $font-size-base-medium;
        line-height: 1.25;
        @extend %syne-font-family;
        font-weight: 700;
    }

    &__days {
        font-weight: 500;
        color: $overlay-text-default;
    }

    &__info {
        display: grid;
        gap: $space-base * 3;
        line-height: 1.25;
        grid-template-columns: auto auto;
        padding: 0 $space-base * 6 $space-base * 6;
    }

    &__text:nth-child(even),
    &__final-amount {
        text-align: right;
        font-weight: 700;
        font-size: $font-size-base-medium;
    }

    &__footer {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        padding: $space-base * 5 $space-base * 6;
        border-top: solid 1px $overlay-border-default;
    }

    &__final-amount,
    &__final-price {
        font-weight: 700;
    }

    &__final-amount {
        font-size: 1.375rem;
        line-height: 1.1;
    }

    &[open] &__view-price-icon {
        transform: rotate(-90deg);
    }
    &[open]  {
        z-index: z("dropdown");
    }

    @include tablet {
        &__content {
            position: absolute;
            border-radius: $space-base * 6;
            border: solid 1px $color-border-medium-default;
            inset: initial;
            min-width: 25rem;
            z-index: z("default");
        }

        &__header {
            padding: $space-base * 4 $space-base * 6;
        }

        &__footer {
            background-color: $overlay-top-bar-default;
        }
    }
}

//open price details//animate content
.price-details::details-content {
    opacity: 0;
    transition:
    opacity 300ms,
    content-visibility 300ms allow-discrete;
    
}

.price-details[open]::details-content {
    opacity: 1;
}