%nunito-font-family {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

%syne-font-family {
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

%box-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

%box-shadow-right {
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.15);
}