$space-base: 0.25rem;
$font-size-base-xs: 0.875rem;
$font-size-base-small: 1rem;
$font-size-base-medium: 1.125rem;
$desktop-width: 70.5rem;
$tablet-large-width: 52.5rem;
$tablet-small-width: 34.5rem;


//global
$color-brand-blue: #FFFFFF;
$color-brand-cyan: #FFFFFF;
$color-brand-green: #FFFFFF;
$color-brand-orange: #FF8F50;
$color-brand-red: #FFFFFF;
$color-brand-yellow: #FFFFFF;
$color-brand-turquoise: #FFFFFF;
$color-brand-purple: #622F60;
$FLAG: #1FDF00;
$color-brand-basic-000-white-high-alpha: rgba(255, 255, 255, 0.72);
$color-brand-basic-basic-medium-alpha: rgba(129, 119, 129, 0.50);
$color-brand-basic-000-white: #FFFFFF;
$color-brand-basic-050: #F8F7F8;
$color-brand-basic-100: #E0D9E0;
$color-brand-basic-200: #D1C7D1;
$color-brand-basic-300: #BFB0BE;
$color-brand-basic-400: #A0989F;
$color-brand-basic-500: #817781;
$color-brand-basic-600: #635A63;
$color-brand-basic-700: #494149;
$color-brand-primary-primary-low-alpha: rgba(98, 47, 96, 0.32);
$color-brand-basic-800: #342E34;
$color-brand-primary-050: #F5EAF5;
$color-brand-primary-100: #E0C8DF;
$color-brand-primary-200: #D9BAD8;
$color-brand-primary-300: #C69AC4;
$color-brand-primary-400: #B677B3;
$color-brand-primary-500: #AC53A9;
$color-brand-basic-900: #2D242D;
$color-brand-primary-600: #864084;
$color-brand-primary-700: $color-brand-purple;
$color-brand-secondary-050: #FBF6F4;
$color-brand-primary-800: #471F45;
$color-brand-secondary-100: #F4E8E1;
$color-brand-secondary-200: #FFE1D1;
$color-brand-secondary-300: #FFBC99;
$color-brand-secondary-400: $color-brand-orange;
$color-brand-secondary-500: #D67843;
$color-brand-secondary-600: #B85C28;
$color-brand-secondary-700: #8A451E;
$color-brand-secondary-800: #4E250E;
$color-brand-secondary-900: #31190C;
$color-brand-primary-900: #2B132A;

//semantic-colors
$color-background-white-high-alpha: $color-brand-basic-000-white-high-alpha;
$color-background-white-default: $color-brand-basic-000-white;
$color-background-white-hover: $color-brand-basic-050;
$color-background-light-default: $color-brand-basic-050;
$color-background-light-hover: $color-brand-basic-100;
$color-background-medium-light-default: $color-brand-basic-100;
$color-background-medium-light-hover: $color-brand-basic-200;
$color-background-medium-dark-default: $color-brand-basic-300;
$color-background-medium-dark-hover: $color-brand-basic-400;
$color-background-dark-default: $color-brand-basic-000-white;
$color-background-dark-hover: $color-brand-basic-000-white;
$color-background-black-default: $color-brand-basic-000-white;
$color-background-black-hover: $color-brand-basic-000-white;
$color-background-primary-low-alpha: $color-brand-primary-primary-low-alpha;
$color-background-primary-light-default: $color-brand-primary-050;
$color-background-primary-light-hover: $color-brand-primary-100;
$color-background-primary-medium-default: $color-brand-basic-000-white;
$color-background-primary-medium-hover: $color-brand-basic-000-white;
$color-background-primary-dark-default: $color-brand-primary-700;
$color-background-primary-dark-hover: $color-brand-primary-800;
$color-background-primary-light-disabled: $color-brand-basic-000-white;
$color-background-primary-medium-disabled: $color-brand-basic-000-white;
$color-background-primary-dark-disabled: $color-brand-basic-400;
$color-background-secondary-light-default: $color-brand-secondary-050;
$color-background-secondary-light-hover: $color-brand-secondary-100;
$color-background-secondary-medium-light-default: $color-brand-secondary-200;
$color-background-secondary-medium-light-hover: $color-brand-secondary-300;
$color-background-secondary-medium-default: $color-brand-secondary-400;
$color-background-secondary-medium-hover: $color-brand-secondary-500;
$color-background-secondary-dark-default: $color-brand-basic-000-white;
$color-background-secondary-dark-hover: $color-brand-basic-000-white;
$color-background-secondary-light-disabled: $color-brand-basic-000-white;
$color-background-secondary-medium-disabled: $color-brand-basic-500;
$color-background-secondary-dark-disabled: $color-brand-basic-000-white;
$color-background-input-disabled: $color-brand-basic-100;
$color-background-basic-medium-alpha: $color-brand-basic-basic-medium-alpha;
$color-foreground-white-default: $color-brand-basic-000-white;
$color-foreground-white-hover: $color-brand-basic-000-white;
$color-foreground-on-white-default: $color-brand-basic-800;
$color-foreground-on-white-hover: $color-brand-basic-900;
$color-foreground-light-default: $color-brand-basic-050;
$color-foreground-light-hover: $color-brand-basic-100;
$color-foreground-on-light-default: $color-brand-basic-800;
$color-foreground-on-light-hover: $color-brand-basic-900;
$color-foreground-medium-light-default: $color-brand-basic-500;
$color-foreground-medium-light-hover: $color-brand-basic-600;
$color-foreground-medium-dark-default: $color-brand-basic-700;
$color-foreground-medium-dark-hover: $color-brand-basic-800;
$color-foreground-on-medium-default: $color-brand-basic-800;
$color-foreground-on-medium-hover: $color-brand-basic-900;
$color-foreground-dark-default: $color-brand-basic-700;
$color-foreground-dark-hover: $color-brand-basic-800;
$color-foreground-on-dark-default: $color-brand-basic-000-white;
$color-foreground-on-dark-hover: $color-brand-basic-000-white;
$color-foreground-black-default: $color-brand-basic-800;
$color-foreground-black-hover: $color-brand-basic-900;
$color-foreground-on-black-default: $color-brand-basic-000-white;
$color-foreground-on-black-hover: $color-brand-basic-000-white;
$color-foreground-primary-light-default: $color-brand-basic-000-white;
$color-foreground-primary-light-hover: $color-brand-basic-000-white;
$color-foreground-primary-medium-default: $color-brand-basic-000-white;
$color-foreground-primary-medium-hover: $color-brand-basic-000-white;
$color-foreground-primary-dark-default: $color-brand-primary-700;
$color-foreground-primary-dark-hover: $color-brand-primary-800;
$color-foreground-on-primary-light-default: $color-brand-basic-000-white;
$color-foreground-on-primary-light-hover: $color-brand-basic-000-white;
$color-foreground-on-primary-medium-default: $color-brand-basic-000-white;
$color-foreground-on-primary-medium-hover: $color-brand-basic-000-white;
$color-foreground-on-primary-dark-default: $color-brand-basic-000-white;
$color-foreground-on-primary-dark-hover: $color-brand-basic-050;
$color-foreground-on-primary-dark-disabled: $color-brand-basic-600;
$color-foreground-secondary-light-default: $color-brand-basic-000-white;
$color-foreground-secondary-light-hover: $color-brand-basic-000-white;
$color-foreground-secondary-medium-default: $color-brand-secondary-400;
$color-foreground-secondary-medium-hover: $color-brand-secondary-500;
$color-foreground-secondary-dark-default: $color-brand-secondary-600;
$color-foreground-secondary-dark-hover: $color-brand-secondary-700;
$color-foreground-on-secondary-light-default: $color-brand-basic-000-white;
$color-foreground-on-secondary-light-hover: $color-brand-basic-000-white;
$color-foreground-on-secondary-medium-default: $color-brand-secondary-800;
$color-foreground-on-secondary-medium-hover: $color-brand-secondary-900;
$color-foreground-on-secondary-dark-default: $color-brand-basic-000-white;
$color-foreground-on-secondary-dark-hover: $color-brand-basic-000-white;
$color-foreground-on-secondary-medium-disabled: $color-brand-basic-700;
$color-foreground-text-on-light-default: $color-foreground-on-light-default;
$color-foreground-text-on-light-hover: $color-foreground-on-light-hover;
$color-foreground-text-on-dark-default: $color-foreground-on-dark-default;
$color-foreground-text-on-dark-hover: $color-foreground-on-dark-hover;
$color-foreground-text-light-disabled: $color-brand-basic-400;
$color-foreground-text-dark-disabled: $color-brand-basic-500;
$color-foreground-input-light-disabled: $color-foreground-text-light-disabled;
$color-foreground-input-dark-disabled: $color-foreground-text-dark-disabled;
$color-foreground-link-default: $color-foreground-primary-dark-default;
$color-foreground-link-hover: $color-foreground-primary-dark-hover;
$color-foreground-title-default: $color-foreground-primary-dark-default;
$color-border-white-default: $color-brand-basic-000-white;
$color-border-white-hover: $color-brand-basic-050;
$color-border-light-default: $color-brand-basic-050;
$color-border-light-hover: $color-brand-basic-100;
$color-border-medium-default: $color-brand-basic-100;
$color-border-medium-hover: $color-brand-basic-200;
$color-border-dark-default: $color-brand-basic-300;
$color-border-dark-hover: $color-brand-basic-400;
$color-border-black-default: $color-brand-basic-000-white;
$color-border-black-hover: $color-brand-basic-000-white;
$color-border-primary-light-default: $color-brand-basic-000-white;
$color-border-primary-light-hover: $color-brand-basic-000-white;
$color-border-primary-medium-default: $color-brand-basic-000-white;
$color-border-primary-medium-hover: $color-brand-basic-000-white;
$color-border-primary-dark-default: $color-brand-primary-700;
$color-border-primary-dark-hover: $color-brand-primary-800;
$color-border-primary-dark-disabled: $color-brand-basic-500;
$color-border-secondary-light-default: $color-brand-basic-000-white;
$color-border-secondary-light-hover: $color-brand-basic-000-white;
$color-border-secondary-medium-default: $color-brand-secondary-400;
$color-border-secondary-medium-hover: $color-brand-secondary-500;
$color-border-secondary-dark-default: $color-brand-basic-000-white;
$color-border-secondary-dark-hover: $color-brand-basic-000-white;
$color-border-input-disabled: $color-border-primary-dark-disabled;
$color-divisor-light: $color-brand-basic-100;
$color-icon-white-default: $color-brand-basic-000-white;
$color-icon-white-hover: $color-brand-basic-000-white;
$color-icon-light-default: $color-brand-basic-000-white;
$color-icon-light-hover: $color-brand-basic-000-white;
$color-icon-medium-default: $color-brand-basic-000-white;
$color-icon-medium-hover: $color-brand-basic-000-white;
$color-icon-dark-default: $color-brand-basic-000-white;
$color-icon-dark-hover: $color-brand-basic-000-white;
$color-icon-black-default: $color-brand-basic-800;
$color-icon-black-hover: $color-brand-basic-900;
$color-divisor-medium: $color-brand-basic-400;
$color-icon-primary-light-default: $color-brand-basic-000-white;
$color-icon-primary-light-hover: $color-brand-basic-000-white;
$color-icon-primary-medium-default: $color-brand-basic-000-white;
$color-icon-primary-medium-hover: $color-brand-basic-000-white;
$color-icon-primary-dark-default: $color-foreground-primary-dark-default;
$color-icon-primary-dark-hover: $color-foreground-primary-dark-hover;
$color-icon-secondary-light-default: $color-brand-basic-000-white;
$color-icon-secondary-light-hover: $color-brand-basic-000-white;
$color-icon-secondary-medium-default: $color-foreground-secondary-medium-default;
$color-icon-secondary-medium-hover: $color-background-secondary-medium-hover;
$color-icon-secondary-dark-default: $color-foreground-secondary-dark-default;
$color-icon-secondary-dark-hover: $color-foreground-secondary-dark-hover;
$color-icon-disabled: $color-foreground-text-dark-disabled;


//components-colors
$navbar-background-default: $color-background-white-default;
$hero-title-default: $color-foreground-on-dark-default;
$tab-navbar-selection-indicator-background-active: $color-background-secondary-medium-default;
$tab-navbar-selection-indicator-background-active-hover: $color-background-secondary-medium-hover;
$tab-navbar-text-default: $color-foreground-on-white-default;
$tab-navbar-text-hover: $color-foreground-on-white-hover;
$tab-navbar-text-selected: $color-foreground-on-white-default;
$tab-navbar-foreground-selected-hover: $color-foreground-on-white-hover;
$tab-navbar-icon-default: $color-icon-black-default;
$tab-navbar-icon-hover: $color-icon-black-hover;
$tab-navbar-icon-selected: $color-icon-black-default;
$tab-navbar-icon-selected-hover: $color-icon-black-hover;
$hero-subtitle-default: $color-foreground-on-dark-default;
$navbar-menu-icon-default: $color-foreground-primary-dark-default;
$navbar-menu-icon-hover: $color-foreground-primary-dark-hover;
$navbar-border-default: $color-border-secondary-medium-default;
$button-primary-text-default: $color-foreground-on-primary-dark-default;
$button-primary-background-default: $color-background-primary-dark-default;
$button-primary-border-default: $color-border-primary-dark-default;
$button-primary-text-hover: $color-foreground-on-primary-dark-hover;
$button-primary-background-hover: $color-background-primary-dark-hover;
$button-primary-border-hover: $color-border-primary-dark-hover;
$button-primary-text-disabled: $color-foreground-on-primary-dark-disabled;
$button-primary-background-disabled: $color-background-primary-dark-disabled;
$button-primary-border-disabled: $color-border-primary-dark-disabled;
$button-accent-text-default: $color-foreground-on-secondary-medium-default;
$button-accent-background-default: $color-background-secondary-medium-default;
$button-accent-border-default: $color-border-secondary-medium-default;
$button-accent-text-hover: $color-foreground-on-secondary-medium-hover;
$button-accent-background-hover: $color-background-secondary-medium-hover;
$button-accent-border-hover: $color-border-secondary-medium-hover;
$button-accent-text-disabled: $color-foreground-on-secondary-medium-disabled;
$button-accent-background-disabled: $color-background-secondary-medium-disabled;
$button-accent-border-disabled: $color-brand-basic-000-white;
$button-secondary-text-default: $color-foreground-primary-dark-default;
$button-secondary-background-default: $color-background-white-default;
$button-secondary-border-default: $color-border-primary-dark-default;
$button-secondary-text-hover: $color-foreground-primary-dark-hover;
$button-secondary-background-hover: $color-background-white-hover;
$button-secondary-border-hover: $color-border-primary-dark-hover;
$button-secondary-foreground-disabled: $color-foreground-on-primary-dark-disabled;
$button-secondary-background-disabled: $color-background-white-default;
$button-secondary-border-disabled: $color-border-primary-dark-disabled;
$button-slider-icon-default: $color-brand-basic-000-white;
$button-slider-icon-hover: $color-brand-basic-000-white;
$button-slider-background-default: $color-brand-basic-000-white;
$button-slider-background-hover: $color-brand-basic-000-white;
$button-slider-navigation-background-default: $color-brand-primary-primary-low-alpha;
$button-slider-navigation-background-hover: $color-brand-primary-700;
$button-slider-navigation-icon-default: $color-icon-white-default;
$button-slider-navigation-icon-hover: $color-icon-white-hover;
$button-show-filter-text-default: $color-foreground-on-light-default;
$button-show-filter-text-hover: $color-foreground-on-light-hover;
$button-show-filter-icon-default: $color-icon-black-default;
$button-show-filter-icon-hover: $color-icon-black-hover;
$button-show-filter-background-default: $color-background-secondary-light-default;
$button-show-filter-background-hover: $color-background-secondary-light-hover;
$button-show-filter-border-default: $color-border-medium-default;
$button-show-filter-border-hover: $color-border-medium-hover;
$tag-primary-background: $color-background-secondary-medium-default;
$tag-primary-text: $color-foreground-black-default;
$tag-secondary-background: $color-background-medium-light-default;
$tag-secondary-text: $color-foreground-black-default;
$indicator-slider-background-selected-default: $color-background-secondary-medium-default;
$indicator-slider-background-selected-hover: $color-background-secondary-medium-hover;
$indicator-slider-border-selected-default: $color-border-white-default;
$indicator-slider-border-selected-hover: $color-border-light-hover;
$indicator-slider-background-default: $color-background-white-high-alpha;
$indicator-slider-background-hover: $color-background-white-hover;
$indicator-slider-border-default: $color-border-white-default;
$indicator-slider-border-hover: $color-border-light-hover;
$form-text-input-background-default: $color-background-white-default;
$form-text-input-background-hover: $color-background-white-default;
$form-text-input-background-focus: $color-background-white-default;
$form-text-input-background-focus-hover: $color-background-white-default;
$form-text-input-background-disabled: $color-background-input-disabled;
$form-text-input-border-default: $color-border-primary-dark-default;
$form-text-input-border-hover: $color-border-primary-dark-hover;
$form-text-input-border-focus: $color-border-primary-dark-default;
$form-text-input-border-focus-hover: $color-border-primary-dark-hover;
$form-text-input-border-disabled: $color-border-input-disabled;
$form-text-input-label-default: $color-foreground-secondary-dark-default;
$form-text-input-label-hover: $color-foreground-secondary-dark-hover;
$form-text-input-label-focus: $color-foreground-secondary-dark-default;
$form-text-input-label-focus-hover: $color-foreground-secondary-dark-hover; 
$form-text-input-label-disabled: $color-foreground-input-light-disabled;
$form-text-input-placeholder-default: $color-foreground-medium-light-default;
$form-text-input-placeholder-hover: $color-foreground-medium-light-hover;
$form-text-input-placeholder-focus: $color-border-input-disabled;
$form-text-input-placeholder-focus-hover: $color-border-input-disabled;
$form-text-input-placeholder-disabled: $color-foreground-input-light-disabled;
$form-text-input-text-default: $color-foreground-text-on-light-default;
$form-text-input-text-hover: $color-foreground-text-on-light-hover;
$form-text-input-text-focus: $color-foreground-text-on-light-default;
$form-checkbox-box-background-default: $color-background-white-default;
$form-text-input-text-focus-hover: $color-foreground-text-on-light-hover;
$form-checkbox-box-background-hover: $color-background-white-default;
$form-checkbox-box-background-selected: $color-background-secondary-medium-default;
$form-checkbox-box-background-selected-hover: $color-background-secondary-medium-hover;
$form-checkbox-check-icon-default: $color-icon-primary-dark-default;
$form-checkbox-check-icon-hover: $color-icon-primary-dark-hover;
$form-checkbox-box-border-default: $color-border-primary-dark-default;
$form-checkbox-box-border-hover: $color-border-primary-dark-hover;
$form-checkbox-box-border-selected: $color-border-primary-dark-default;
$form-checkbox-box-border-selected-hover: $color-border-primary-dark-hover;
$form-checkbox-text-default: $color-foreground-on-white-default;
$form-checkbox-text-hover: $color-foreground-on-white-hover;
$form-checkbox-text-selected: $color-foreground-on-white-default;
$form-checkbox-foreground-selected-hover: $color-foreground-on-white-hover;
$form-text-input-icon-default: $color-icon-primary-dark-default;
$form-text-input-icon-hover: $color-icon-primary-dark-hover;
$form-text-input-icon-focus: $color-icon-primary-dark-default;
$form-text-input-icon-focus-hover: $color-icon-primary-dark-hover;
$form-text-input-icon-disabled: $color-icon-disabled;
$form-text-input-chevron-default: $color-icon-primary-dark-default;
$form-text-input-chevron-hover: $color-icon-primary-dark-hover;
$form-text-input-chevron-focus: $color-icon-primary-dark-default;
$form-text-input-chevron-focus-hover: $color-icon-primary-dark-hover;
$form-text-input-chevron-disabled: $color-icon-disabled;
$card-background-default: $color-background-white-default;
$card-background-hover: $color-background-white-default;
$card-title-default: $color-foreground-title-default;
$card-title-hover: $color-foreground-title-default;
$card-text-default: $color-foreground-text-on-light-default;
$card-text-hover: $color-foreground-text-on-light-hover;
$card-top-price-text: $color-foreground-on-light-default;
$card-price: $color-foreground-on-light-default;
$card-breakdown-foreground-default: $color-foreground-primary-dark-default;
$card-breakdown-foreground-hover: $color-foreground-primary-dark-hover;
$card-breakdown-chevron-default: $color-foreground-primary-dark-default;
$card-breakdown-chevron-hover: $color-foreground-primary-dark-hover;
$card-circuit-card-bottom-bar-background-default: $color-background-secondary-light-default;
$card-circuit-card-bottom-bar-background-hover: $color-background-secondary-light-default;
$filters-section-title-default: $color-foreground-on-light-default;
$filters-filter-name-text-default: $color-foreground-on-light-default;
$filters-filter-name-text-hover: $color-foreground-on-light-default;
$filters-filter-name-text-open: $color-foreground-secondary-dark-default;
$filters-filter-name-text-open-hover: $color-foreground-secondary-dark-hover;
$filters-icon-default: $color-foreground-on-light-default;
$filters-icon-hover: $color-foreground-on-light-default;
$filters-icon-open: $color-icon-secondary-dark-default;
$filters-icon-open-hover: $color-foreground-on-light-default;
$filters-chevron-default: $color-foreground-on-light-default;
$filters-chevron-hover: $color-foreground-on-light-default;
$filters-chevron-open: $color-icon-secondary-dark-default;
$filters-chevron-open-hover: $color-foreground-on-light-default;
$filters-link-default: $color-foreground-link-default;
$filters-link-hover: $color-foreground-link-hover;
$filters-divisor: $color-divisor-light;
$search-background-default: $color-background-secondary-medium-light-default;
$search-title-default: $color-foreground-primary-dark-default;
$search-summary-background-default: $color-background-secondary-light-default;
$search-summary-border-default: $color-border-medium-default;
$search-text-default: $color-foreground-text-on-light-default;
$overlay-close-icon-default: $color-icon-black-default;
$overlay-close-icon-hover: $color-icon-black-hover;
$overlay-background-default: $color-background-white-default;
$overlay-border-default: $color-border-medium-default;
$overlay-top-bar-default: $color-background-secondary-light-default;
$overlay-bottom-bar-default: $overlay-top-bar-default;
$overlay-bar-text-default: $color-foreground-text-on-light-default;
$overlay-bar-text-hover: $color-foreground-text-on-light-hover;
$overlay-title-default: $color-foreground-title-default;
$overlay-text-default: $color-foreground-text-on-light-default;
$overlay-price-default: $color-foreground-text-on-light-default;
$overlay-link-default: $color-foreground-link-default;
$overlay-link-hover: $color-foreground-link-hover;
$overlay-alpha-background-default: $color-background-basic-medium-alpha;
$overlay-modal-price-box-border-default: $color-border-primary-dark-default;
$overlay-modal-price-box-background-default: $color-background-secondary-light-default;
$contact-title-default: $color-foreground-primary-dark-default;
$contact-text-default: $color-brand-primary-800;
$contact-link-default: $color-foreground-link-default;
$contact-link-hover: $color-foreground-link-hover;
$contact-social-media-icon-default: $color-icon-white-default;
$contact-social-media-icon-hover: $color-icon-white-hover;
$contact-social-media-background-default: $color-background-primary-dark-default;
$contact-social-media-background-hover: $color-background-primary-dark-hover;
$footer-background-default: $color-background-secondary-light-default;
$footer-list-item-text-default: $color-foreground-on-light-default;
$footer-list-item-text-hover: $color-foreground-on-light-hover;
$footer-background-bottom-bar-default: $color-background-medium-light-default;
$footer-foreground-bottom-bar-default: $color-foreground-primary-dark-default;
$form-text-input-text-disabled: $color-foreground-text-dark-disabled;